# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# @generated: @expo/next-adapter@2.1.0
app/node_modules/**/*
app/.expo/*
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/
app/web-report/

# debug
app/yarn-debug.log*
app/yarn-error.log*

# macOS
app/.DS_Store

# misc
app/.DS_Store
app/.env*

app/.next

